.header{
    height: 40px;
    width: auto;
    background-color: transparent ;
}
.logo{
    width: 80px;
    background-color: transparent;
    float: left;
}
.menu{
    height: 40px;
    width: 40%;
    background-color: transparent;
    float: right;
}
li{
    list-style: none;
    display: inline;
    padding: 50px;
}
ul{
    height: 40px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    margin: 0;
}