/* QUESTION-7 START */

/* HEADER START */
header{
    background: linear-gradient(rgb(0, 71, 67),white);
    background-clip: text;
    color: transparent;
}
#textgradient{
    font-size: 50px;
    display: inline;
    padding: 600px;
}
/* HEADER OVER */

hr{
    border-top: solid black;
}
h2{
    margin: 10px 0px;
    padding: 3px 5px;;
    display: inline;
}
h2:hover{
    background-color: rgb(0, 111, 106);
    color: white;
    outline: 2px solid rgb(2, 77, 73);
    outline-offset: 2px;
    transition: 0.5s;
}
b.internal{
    background-color: rgb(0, 111, 106);
    color: white;
    padding: 3px 5px;
}

.backgroundimage{
    height: 1300px;
    width: auto;
    border: 2px solid rgb(0, 111, 106);
}
.repeat{
    height: 300px;
    width: 350px;
    background-image: url(https://i.pinimg.com/originals/c2/04/89/c20489420ccb827dff570047e568fbad.jpg);
    background-size: 50%;
    background-repeat: repeat;
    background-color: rgb(0, 111, 106);
    margin: 10px;
    float: left;
}
.r{
    float: left;
    margin: 30px;
    font-size: 25px;
}
.no-repeat{
    height: 300px;
    width: 350px;
    background-image: url(https://i.pinimg.com/originals/c2/04/89/c20489420ccb827dff570047e568fbad.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    margin: 10px;
    background-color: rgb(0, 111, 106);
    float: left;
    clear: left;
}
.repeat-x{
    height: 300px;
    width: 350px;
    background-image: url(https://i.pinimg.com/originals/c2/04/89/c20489420ccb827dff570047e568fbad.jpg);
    background-size: 50%;
    background-repeat: repeat-x;
    margin: 10px;
    background-color: rgb(0, 111, 106);
    float: left;
    clear: left;
}
.repeat-y{
    height: 300px;
    width: 350px;
    background-image: url(https://i.pinimg.com/originals/c2/04/89/c20489420ccb827dff570047e568fbad.jpg);
    background-size: 50%;
    background-repeat: repeat-y;
    margin: 10px;
    background-color: rgb(0, 111, 106);
    float: left;
    clear: left;
}
/* QUESTION-7 OVER */