*{
    margin: 0px;
    padding: 0px;
}
div{
    margin: 50px;
    padding: 5px 35px;
    height: 205spx;
    width: auto;
    background-color: #E8ADAA;
    border: 5px solid rgba(55, 0, 9, 0.5);
    transition: 2s;
}
div:hover{
    outline: dashed #E8ADAA;
    outline-offset: 15px;
    outline-width: 2px;
}