*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container{
    height: 550px;
    width: 500px;
    border: 1px solid transparent;
    margin: 30px auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px gray;
}


#subcontainer1{
    height: 55px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
}
#xmark img{
    height: 20px;
    width: 20px;
    margin: 17px 17px;
}
#xmark:hover{
    background-color: rgb(237, 237, 237);
    border-radius: 50px;
}
#twitter img{
    height: 55px;
    width: 55px;
    margin-left: 173px;
}


#subcontainer2{
    height: 493px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sign{
    font-size: 35px;
    font-family: Work Sans;
    margin-top: 10px;
}
a#google{
    padding: 5px 45px;
    margin-top: 15px;
    border-radius: 20px;
    border: 1px solid rgb(190, 190, 190);
    background-color: white;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}
#google img{
    height: 20px;
    width: 20px;
}
#google #sg{
    font-size: 20px;
    font-family: 'Instrument Sans', sans-serif;
}
a#apple{
    padding: 3px 37px;
    margin-top: 15px;
    border-radius: 20px;
    border: 1px solid rgb(190, 190, 190);
    background-color: white;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}
#apple img{
    height: 25px;
    width: 25px;
}
#apple #ag{
    font-size: 20px;
    font-family: Work Sans;
    justify-content: center;
    align-items: center;
}
#apple:hover{
    background-color: rgb(237, 237, 237);
}
#or{
    display: flex;
    flex-direction: row;
}
#or img{
    height: 1px;
    width: 140px;
    margin-top: 30px;
}
#or span{
    margin: 17px 5px 0px;
}
#input{
    border: 1px solid rgb(190, 190, 190);
    padding: 15px;
    border-radius: 3px;
    font-size: 15px;
    color: rgb(158, 158, 158);
    margin: 20px;
    width: 300px;
}
#input:focus::placeholder{
    border: 2px solid rgb(20, 155, 240);
    color: rgb(20, 155, 240);
}
#next{
    border: 1px solid black;
    border-radius: 25px;
    padding: 8px 130px;
    margin: 20px 15px 10px 15px;
    color: white;
    background-color: black;
    font-size: 20px;
}
#fp{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 25px;
    padding: 8px 75px;
    margin: 10px;
    font-size: 20px;
}
#fp:hover{
    background-color: rgb(237, 237, 237);
}
#sup{
    margin-top: 50px;
}
#sup a{
    text-decoration: none;
    color: rgb(20, 155, 240);
}